.Map{
    position: relative;
    width: 500px;
    height: 400px;
    left: 3rem;
}

.Chart{
    position: relative;
    width: 500px;
    height: 400px;
    bottom: 450px;
    left: 39rem;
}

.Product{
    position: relative;
    width: 500px;
    height: 400px;
    top: -350px;
    left: 3rem;
}

.Forecast{
    position: relative;
    width: 500px;
    height: 400px;
    bottom: 800px;
    left: 39rem;
}

.textMap{
    position: relative;
    left: 11rem;
    bottom: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textChart{
    position: relative;
    left: 1rem;
    bottom: -11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.textProduct{
    position: relative;
    left: 9rem;
    bottom: 368px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.textForecast{
    position: relative;
    left: 45rem;
    bottom: 817px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.middle{
    text-align: center;
    width:100%;
}

.nav{
    background-color: white;
    height: 1cm;

}

.foot{
    background-color: white;
    height: 3.5cm;
}

.mywidth{
    width:50%;
    height:50%;
}



